<div class="ms-6">
  <button id="createUserButton" class="btn btn-primary mb-3">Create Employee</button>
  
  <!-- begin::UserTable -->
   
  <div class="card card-custom">
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="true">Asela Perera</td>
        <td contenteditable="true">w1953606</td>
        <td contenteditable="true">2002-12-01</td>
        <td contenteditable="true">Male</td>
        <td contenteditable="true">Admin</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">Jane Smith</td>
        <td contenteditable="true">67890</td>
        <td contenteditable="true">1985-05-23</td>
        <td contenteditable="true">Female</td>
        <td contenteditable="true">User</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">Michael Brown</td>
        <td contenteditable="true">13579</td>
        <td contenteditable="true">1978-11-11</td>
        <td contenteditable="true">Male</td>
        <td contenteditable="true">User</td>
        
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">Emily Davis</td>
        <td contenteditable="true">24680</td>
        <td contenteditable="true">1992-07-07</td>
        <td contenteditable="true">Female</td>
        <td contenteditable="true">Admin</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>