<div class="ms-6">
  <button id="createUserButton" class="btn btn-primary mb-3">Create Project</button>
  
  <!-- begin::UserTable -->
   
  <div class="card card-custom">
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Project ID</th>
        <th>Approved Date</th>
        <th>Approved By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="true">SilkWarm</td>
        <td contenteditable="true">PrI230</td>
        <td contenteditable="true">2022-03-01</td>
        <td contenteditable="true">Mr.Kaveen</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">ComBank App</td>
        <td contenteditable="true">PrI340</td>
        <td contenteditable="true">2024-05-23</td>
        <td contenteditable="true">Mr.Anujan</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">CGass</td>
        <td contenteditable="true">PrI403</td>
        <td contenteditable="true">2021-11-11</td>
        <td contenteditable="true">Mr.Isuru</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
      <tr>
        <td contenteditable="true">Sadaharitha Plantation</td>
        <td contenteditable="true">PrI260</td>
        <td contenteditable="true">2019-07-07</td>
        <td contenteditable="true">Mr.Arosha</td>
        <td>
          <button class="btn btn-primary btn-sm me-2 mb-2">Update</button>
          <button class="btn btn-success btn-sm me-2 mb-2">Save</button>
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>